<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,lcov,opencover</Format>
          <OutputDirectory>./TestResults</OutputDirectory>
          <Exclude>[*]DKSKMaui.Tests.*,[*]*.Migrations.*,[xunit.*]*,[*]*.Designer,[*]*Program,[*]*MauiProgram</Exclude>
          <ExcludeByFile>**/Migrations/*.cs,**/obj/**,**/bin/**,**/*.g.cs,**/*.Designer.cs</ExcludeByFile>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <DeterministicReport>true</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
